.form-card-container {
    max-width: 700px;
}

.admin-banner-image-preview {
    width: 250px;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
}

.btn-gold-admin {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: bold;
}

.btn-gold-admin:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
}
