.border-gold {
    border-color: var(--color-primary) !important;
}

.footer-links a {
    color: #a3a3a3;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-links a:hover {
    color: var(--color-primary);
    padding-left: 5px;
}

.hover-gold {
    transition: color 0.3s ease;
}

.hover-gold:hover {
    color: var(--color-primary) !important;
}
