.form-card-container {
    max-width: 600px;
}

.admin-avatar-preview {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.admin-avatar-placeholder {
    width: 80px;
    height: 80px;
}

.btn-gold-admin {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: bold;
}

.btn-gold-admin:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
}

