.form-card-container {
    max-width: 600px;
}

.admin-brand-logo-preview {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.btn-gold-admin {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: bold;
}

.btn-gold-admin:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
}

