.form-card-container {
    max-width: 600px;
}

.btn-gold-admin {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: bold;
}

.btn-gold-admin:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
}

