.form-card-container {
    max-width: 600px;
}

.btn-gold-admin {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: #111;
    font-weight: bold;
}

.btn-gold-admin:hover {
    background-color: #b5952f;
    border-color: #b5952f;
    color: #111;
}

